.header {
  height: 400px;

  background: url("../assets/i/bg.jpg") no-repeat
  center;
  background-size: cover;

  color: #ffffff;
  text-align: center;
}
/* background-image: url("bg.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover; */

.main {
  margin-top: 3rem;
}

.block {
  padding: 1rem;
  margin-bottom: 2rem;

  background: #ffffff;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.pagination{
   active-color: danger;
}

.footer {
   padding: 2rem 0;
   margin-top: 3rem;
   background-color: #212121;

   color: #ffffff;
}

.copyright {
   padding:  1rem;

   background-color: #1b1b1b;
   color: #aaaaaa;
   text-align: center;
}

body {
  background-color: #f8f8f8;
}
